@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
/* .sidenav {
  height: 100%;
  width:20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #866ec7;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* Style the sidenav links and the dropdown button */

.sidenav a, .dropdown-btn {
  font-family: "Poppins", Arial, sans-serif;
  /* font-weight:600; */
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.icon-card-info .icon {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}
.icon-card-info .badge {
  padding: 0.4rem .725rem;
  border-width: .5px;
}
.icon-card-info {
  background: #2c50ed;
  color: #ffffff;
  border-radius: 0.625rem;

}
/* On mouse-over */
.sidenav a:hover {
  color: rgb(21, 192, 192);
}
.dropdown-btn:hover{
    color:white;
}

/* Main content */
.main {
    /* background-color: black; */
   /*Same as the width of the sidenav*/
  /* font-size: 20px; Increased text to enable scrolling */
  margin-top:15px;
  padding: 0px 10px;
  width:60%;
  display:flex;
  flex-direction:column;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: rgba(168, 168, 218, 0.64);
  color: white;
  outline:none;
  border:none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #68318d;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
#img{
    width:80px;
    margin:auto;
   background-color: white;
    margin-bottom:12%;
    border-radius: 50%;
}

#myimg{
  width:80px;
  height: 80px;
  border-radius: 50%;
  object-fit:contain
}
.items{
  margin-top:6%;
  font-size:18px;
  font-family: "Poppins", Arial, sans-serif;
  color:white;
  padding-right:10%;
  box-sizing: border-box;
  font-weight:600;
}
.top{
  display: flex;
  justify-content: space-around;
}
#second{
  margin-top:-16px;
  font-size:15px;
}

.card {
  box-shadow: 5px 11px 23px -13px #e5e5e5;
  -webkit-box-shadow: 5px 11px 23px -13px #e5e5e5;
  -moz-box-shadow: 5px 11px 23px -13px #e5e5e5;
  -ms-box-shadow: 5px 11px 23px -13px #e5e5e5;
  border: 1px solid rgba(230, 230, 230, 0.41);
  border-radius: 0.625rem;
}
.big{
  font-size:xx-large;
}
.icon-card-primary {
    background: #6201ed;
    color: #ffffff;
  border-radius: 0.625rem;

}
.card .card-body {
    padding: 1.25rem 1.25rem;
}
.icon-card-primary .icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    
}
.icon-card-success .icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3) !important;
    text-align: center;

}
.icon-card-dark .icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
}
.icon-card-primary .badge {
    padding: 0.4rem .725rem;
    border-width: .5px;
}
.badge.badge-pill {
    border-radius: 10rem;
}
.badge-outline-light {
    color: #f8f9fa;
    border: 1px solid #f8f9fa;
  }
.myicon{
  width:20px;
  height:20px;
}
.icon-card-success {
    background: #29c0b1;
    color: #ffffff;
  border-radius: 0.625rem;

}


.icon-card-dark {
    background: #222437;
    color: #ffffff;
  border-radius: 0.625rem;

}
/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* wrapper inside main  */
.content-wrapper {
  background-color: #eee;
  padding: 1.1rem 2.5rem 2.5rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.mynav{
  /* height:60px; */
  /* background-color: rgb(58, 86, 211); */
  display:none;
}
/* .frame{
  margin-top:60px;
} */



.sidebar {
  min-height: 100vh;
  width:305px;
  left:0;
  background: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  /* width: 239px; */
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
background-color: #68318d;
   padding-top:20px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* navbar toggler  */
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.nvbtn{
  display:none;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  #sidebar{
    display:none;
  }
 
  #main{
    margin-left: 0;
    width:100%;
  }
  .nvbtn{
    display:block;
  }
  .navbar ul {
    display: none;
  }
/* .mynav{
  height:60px;
}
.frame{
  margin-top: 20px;
} */
.frame{
  margin-top:60px;
} 
.mynav{
  height:60px;
  background-color: rgb(58, 86, 211);
  /* display:none; */
}
}
@media screen and (max-width: 991px){
.sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 60px);
    top: 60px;
    bottom: 0;
    overflow: auto;
    /* right: -239px; */
    /* -webkit-transition: all 0.25s ease-out; */
    transition: all 0.25s ease-out;
}
}